{{#each ideas}}
    <div class="card card-body mb-3">
        <h4>{{title}}</h4>
        <p> {{details}} </p>
        <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">Modifier</a>
        <form action="/ideas/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="supprimer">
        </form>
    </div>
{{else}}
    <p>Pas d'idées de vidéos</p>
{{/each}}